<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Student</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #3a7efc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-weight: bold;
        }

        .topnav a {
            color: #f2f2f2;
            text-align: center;
            padding: 14px 13px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #3499d0;
            color: black;
        }

        .topnav a.active {
            color: white;
        }
        .logo img {
            height: 50px;
            width: auto;
            vertical-align: middle;
        }
        .nav{
            flex: 1;
        }

        button {
            background-color: #3a7efc;
            color: white;
            padding: 14px 30px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 17px;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
            background-color: #3499d0;

        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            color: #333;
            font-weight: bold;
        }

        .form-label {
            font-weight: bold;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        h1 {
            text-align:center
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .table th, .table td {
            border: 1px solid #dee2e6;
            padding: 12px;
            text-align: center;
        }

        .table th {
            background-color: #007bff;
            color: white;
            font-weight: bold;
        }

        .table tr:nth-child(even) {
            background-color: #f8f9fa;

            .table tr:hover {
                background-color: #e2e6ea;
            }


            .alert-info {
                background-color: #d1ecf1;
                border-color: #bee5eb;
                color: #0c5460;
                padding: 10px;
                border-radius: 5px;
                margin-top: 20px;
            }

            .alert-info a {
                color: #0c5460;
                font-weight: bold;
            }

            .alert-info a:hover {
                text-decoration: underline;
            }
        }

        .createstudent {
            margin-left: 600px;
        }
        .action-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .action-buttons button {
            flex: 1;
            margin: 0 5px;
            align-items: center;
        }

        @media screen and (max-width: 600px) {
            .topnav {
                flex-direction: column;
            }

            .topnav a {
                padding: 10px;
            }

            .logo img {
                height: 30px;
                margin-right: 0;
            }

            .container {
                padding: 10px;
            }

            .table th, .table td {
                padding: 8px;
            }
        }
    </style>

</head>
<body>
<div class="topnav">
    <div class="logo"> <a class="active" href="/admin/admin_page"><img  src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.png" alt="Logo"></a></div>

    <div class="nav">
        <a href="/admin/dashboard/analysis">Dashboard</a>
        <a href="/admin/faculty/admin-manage-faculty">Manage Faculty</a>
        <a href="/admin/coordinator/admin-manage-coordinator">Manage Coordinator</a>
        <a href="/admin/marketing/admin-manage-marketing">Manage Marketing</a>
        <a href="/admin/faculty/student">Manage Student</a>
        <a href="/admin/magazine/admin-manage-magazine">Manage Magazine</a>
        <a href="/admin/post/admin-manage-post">Manage Post</a>
        <a href="/admin/session/admin-manage-session">Manage Session</a>
    </div>

    <div>
        <form action="/login_page" method="get">
            <button>Logout</button>
        </form>
    </div>

</div>

<div class="container mt-5">
    <h1>Admin - Manage Student</h1>
    <br/>
    <div class="createstudent" >
        <a href="/admin/student/admin-add-student" class="btn btn-primary">Create Student</a>
    </div>
    <br/>
    <form action="/admin/faculty/student" method="get">
        <div class="mb-3">
            <label for="department" class="form-label">Select Faculty</label>
            <select class="form-select" id="department" name="department" onchange="handleSelectChange(this)">
                <option value="">All Student</option>
                <% departments.forEach((department) => { %>
                    <option value="<%= department.department_id %>"><%= department.department_name %></option>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">View Students</button>
    </form>
    <br/>
    <br/>
    <br/>

    <% if (selectedDepartment) { %>
        <h2 style="text-align:center">Students in <%= selectedDepartment.department_name %> faculty</h2>
    <% } else { %>
        <h2 style="text-align:center" >All Students</h2>
    <% } %>


    <% if (students && students.length > 0) { %>
        <div class="mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <% students.forEach((student) => { %>
                    <tr>
                        <td><%= student.student_name %></td>
                        <td><%= student.student_email %></td>
                        <td><%= student.department_name %></td>
                        <td class="action-buttons">
                            <a href="/admin/student/admin-edit-student/<%= student.student_id %>" class="btn btn-primary btn-sm">Edit</a>
                            <form action="/admin/student/admin-delete-student/<%= student.student_id %>" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
                <tr>
                    <td colspan="1" style="text-align: left;"><strong>Total Student:</strong></td>
                    <td colspan="5" style="text-align: right;"><strong><%= students.length %></strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <div class="alert alert-info mt-3" role="alert">
            No students found.
        </div>
    <% } %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>

<script>
    function handleSelectChange(select) {
        if (select.value === "") {
            select.removeAttribute("required");
        } else {
            select.setAttribute("required", "");
        }
    }
</script>

</body>
</html>
