<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #3a7efc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-weight: bold;
        }

        .topnav a {
            color: #f2f2f2;
            text-align: center;
            padding: 14px 13px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #3499d0;
            color: black;
        }

        .topnav a.active {
            color: white;
        }

        .logo img {
            height: 50px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }

        .nav {
            flex: 1;
        }

        button {
            background-color: #3a7efc;
            color: white;
            padding: 14px 30px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 17px;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
            background-color: #3499d0;
        }

        .card-img-container {
            display: flex;
            justify-content: center;
        }

        .card-img-top {
            max-width: 500px;
            max-height: 450px;
            width: auto;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
        }

        @media screen and (max-width: 600px) {
            .topnav {
                flex-direction: column;
            }

            .topnav a {
                padding: 10px;
            }
            .topnav .nav{
                display: grid;
                grid-template-columns: auto auto auto auto;
                margin-top: 10px;
            }
            .nav{
                margin-top:15px;
            }
            .logo img {
                height: 30px;
                margin-right: 0;
            }
            .table th, .table td {
                padding: 8px;
            }
            .post-container {
                display: grid;
                grid-column: 1;
                width: 90%;
                margin: 0 auto
            }
            .post{
                width: 100%;
            }
        }

    </style>
</head>
<body>

<div class="topnav">
    <div class="logo">
        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.png" alt="Logo">
    </div>
    <div class="nav">
        <a class="active" href="#home">Home</a>
        <a href="/student/view_post">My Post</a>
        <a href="/student/create_post">Create Post</a>
    </div>
    <div>
        <form action="/login_page" method="get">
            <button>Logout</button>
        </form>
    </div>
</div>

<div class="container mt-5">
    <% posts.forEach((post) => { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><b>Title:</b> <%= post.article_title %></h5>
                <p class="card-text"><b>Content:</b><%= post.article_content %></p>
                <div class="card-img-container"> <!-- Thêm lớp này -->
                    <% if (post.article_file && (post.article_file.endsWith('.jpg') || post.article_file.endsWith('.jpeg') || post.article_file.endsWith('.png') || post.article_file.endsWith('.gif'))) { %>
                        <img src="http://localhost:3000/uploads/<%= post.article_file %>" class="card-img-top rounded" alt="Attachment">
                    <% } else if (post.article_file && (post.article_file.endsWith('.pdf') || post.article_file.endsWith('.doc') || post.article_file.endsWith('.docx') || post.article_file.endsWith('.txt'))) { %>
                        <p class="card-text">Attached document: <a download href="http://localhost:3000/uploads/<%= post.article_file %>"><%= post.article_file %></a></p>
                    <% } %>
                </div>
                <div class="mt-3">
                    <a href="/student/edit_post/<%= post.article_id %>" class="btn btn-primary">Edit</a>
                    <a download href="http://localhost:3000/uploads/<%= post.article_file %>" class="btn btn-primary">Download</a>
                </div>

            </div>
        </div>
    <% }); %>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>