<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinator - Manage Posts</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f5f5f5;
        }

        .topnav {
            overflow: hidden;
            background-color: #3a7efc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-weight: bold;
        }

        .topnav a {
            color: #f2f2f2;
            text-align: center;
            padding: 14px 13px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #3499d0;
            color: black;
        }

        .topnav a.active {
            color: white;
        }

        .logo img {
            height: 50px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }

        .nav {
            flex: 1;
        }

        button {
            background-color: #3a7efc;
            color: white;
            padding: 14px 30px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 17px;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
            background-color: #3499d0;
        }

        .container {
            max-width: 960px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #eee;
        }

        th {
            background-color: #007bff;
            color: #fff;
            font-weight: bold;
        }

        tbody tr:hover {
            background-color: #f8f9fa;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            transition: background-color 0.3s;
        }

        .btn-primary {
            background-color: #007bff;
        }

        .btn-danger {
            background-color: #dc3545;
        }

        .btn-info {
            background-color: #17a2b8;
        }

        .btn-warning {
            background-color: #ffc107;
        }

        .btn:hover {
            filter: brightness(90%);
        }

        .btn-group {
            display: flex;
            align-items: center;
        }

        .btn-group .btn {
            margin-right: 10px;
        }

        .total-posts {
            text-align: right;
            margin-top: 10px;
        }

        @media screen and (max-width: 768px) {
            .topnav {
                flex-direction: column;
                align-items: stretch;
            }

            .topnav a {
                padding: 10px 0;
            }

            .topnav .logo {
                margin-bottom: 10px;
            }

            .btn-group .btn {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="topnav">
    <div class="logo"><img src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.png" alt="Logo"></div>

    <div class="nav">
        <a href="coordinator-page">Home</a>
        <a href="coordinator-manage-student">Manage Student</a>
        <a href="coordinator-manage-post">Manage Post</a>
    </div>

    <div>
        <form action="/login_page" method="get">
            <button>Logout</button>
        </form>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-weight:bold">Coordinator - Manage Posts</h1>
            <br/>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Attachment</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <% posts.forEach((post) => { %>
                    <tr>
                        <td><%= post.article_title %></td>
                        <td><%= post.student_name %></td>
                        <td>
                            <% if (post.article_file.endsWith('.jpg') || post.article_file.endsWith('.jpeg') || post.article_file.endsWith('.png') || post.article_file.endsWith('.gif')) { %>
                                <a href="http://localhost:3000/uploads/<%= post.article_file %>"><%= post.article_file %></a>
                            <% } if (post.article_file.endsWith('.pdf') || post.article_file.endsWith('.doc') || post.article_file.endsWith('.docx') || post.article_file.endsWith('.txt')) { %>
                                <a href="http://localhost:3000/uploads/<%= post.article_file %>"><%= post.article_file %></a>
                            <% } %>
                        </td>
                        <td class="btn-group">
                            <a href="/coordinator/coordinator-view-post/<%= post.article_id %>" class="btn btn-info">View</a>
                            <a href="/coordinator/coordinator-edit-post/<%= post.article_id %>" class="btn btn-warning">Edit</a>
                            <% if (post.article_default === 1) { %>
                                <button onclick="setDefaultPage('<%= post.article_id %>', false)" class="btn btn-danger">Set as Undefault</button>
                            <% } else { %>
                                <button onclick="setDefaultPage('<%= post.article_id %>', true)" class="btn btn-primary">Set as Default</button>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
                <tr>
                    <td colspan="1" style="text-align: left;"><strong>Total Post:</strong></td>
                    <td colspan="4" class="total-posts"><strong><%= posts.length %></strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>

<script>
    function setDefaultPage(articleId, isDefault) {
        let url;
        if (isDefault) {
            url = '/coordinator/set-default-page/' + articleId;
        } else {
            url = '/coordinator/unset-default-page/' + articleId;
        }
        axios.post(url)
            .then(function (response) {
                console.log(response.data);
                alert('Operation successful');
                location.reload();
            })
            .catch(function (error) {
                console.error(error);
                alert('Error occurred');
            });
    }
</script>
</body>
</html>
