<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Manage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            color: #333;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .btn {
            text-decoration: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            display: inline-block;
            text-align: center;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }

        .btn-danger {
            background-color: #dc3545;
            color: #fff;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        .topnav {
            overflow: hidden;
            background-color: #3a7efc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-weight: bold;
        }

        .topnav a {
            color: #f2f2f2;
            text-align: center;
            padding: 14px 13px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #3499d0;
            color: black;
        }

        .topnav a.active {
            color: white;
        }
        .logo img {
            height: 50px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
        }
        .nav{
            flex: 1;
        }

        button {
            background-color: #3a7efc;
            color: white;
            padding: 14px 30px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 17px;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
            background-color: #3499d0;

        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .action-buttons button {
            flex: 1;
            margin: 0 5px;
        }

        @media screen and (max-width: 600px) {
            .topnav {
                flex-direction: column;
            }

            .topnav a {
                padding: 10px;
            }

            .logo img {
                height: 30px;
                margin-right: 0;
            }

            .container {
                padding: 10px;
            }

            .btn-container {
                flex-direction: column;
            }

            .table th, .table td {
                padding: 8px;
            }
        }

    </style>
</head>
<body>

<div class="topnav">
    <div class="logo"> <a class="active" href="/marketing/marketing-page"><img  src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.png" alt="Logo"></a></div>

    <div class="nav">
        <!--        <a class="active" href="/marketing/marketing-page">Home</a>-->
        <a href="/marketing/dashboard/">Dashboard</a>
        <!--        <a href="/marketing/session/marketing-manage-student-by-faculty">Manage Student</a>-->
<!--        <a href="/marketing/marketing-manage-faculty">Manage Faculty</a>-->
        <a href="/marketing/marketing-manage-student">Manage Student</a>
        <a href="/marketing/marketing-manage-post">Manage Post</a>
<!--        <a href="/marketing/marketing-manage-faculty">Manage Faculty</a>-->
        <a href="/marketing/marketing-manage-magazine">Manage Magazine</a>
    </div>

    <div>
        <form action="/login_page" method="get">
            <button>Logout</button>
        </form>
    </div>

</div>
<div class="container">
    <h1>Marketing - Manage Student</h1>
    <div class="mb-3">
    </div>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Faculty</th>
        </tr>
        </thead>
        <tbody>
        <% students.forEach((student, index) => { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= student.student_name %></td>
                <td><%= student.student_email %></td>
                <td><%= student.department_name %></td>
            </tr>
        <% }); %>

        <tr>
            <td colspan="1" style="text-align: left;"><strong>Total Student:</strong></td>
            <td colspan="4" style="text-align: right;"><strong><%= students.length %></strong></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
